.titel-events h1{
color: white;
font-size: 50px;
padding: 50px 0px;
}

.grid{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 30% 30%; 
    justify-content: center;
}



.events-list .img{
    height:150px;
    width:100%;
  }

  .events-list i{
      font-size: 14px;
   color:#df9413
  }
  
  .events-list h6{
      text-decoration: none;
    color: #212121;
    font-size: 12px;
}

.events-list h2{
    font-weight: 600 !important;
}

  .events-list div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .events-list .card{
      border-radius: 15px;
    transition:0.5s;
    cursor:pointer;
  }
  .events-list .card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  .events-list .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .events-list  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .events-list .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
 
  
  .events-list .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .events-list .card::before {
    transform-origin: left top;
  }
  .events-list .card::after {
    transform-origin: right bottom;
  }
  .events-list .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }